{% extends "layout.html" %}


{% block content %}
<a class="flex-sm-fill text-sm-center nav-link shadow font-weight-bolder " style="background: none; color:white;" href="{{'/'}}">Home</a>
<!--<a class="flex-sm-fill text-sm-center nav-link shadow font-weight-bolder" style="background: none; color:white;" href="#">Search</a>-->
<a class="flex-sm-fill text-sm-center nav-link active shadow font-weight-bolder " style="background:none; color:white;" href="{{'login'}}">Sign in</a>
<a class="flex-sm-fill text-sm-center nav-link shadow font-weight-bolder active" style="background: #f2f2f2; color:#8c8c8c;" href="#">New User?</a>
{% endblock %}

{%block script%}
<script src="{{url_for('static', filename ='js/login.js')}}"></script>
{%endblock%}

{% block body %}
<div class="container-fluid">
  <div class="row">
      <div class="col-md-6">
        <img src="static\img\homeImage.jpg" class="img-fluid img-thumbnail" alt="Responsive image">
      </div>
      <div class="col-md-6">
        <form action="/registration" method="POST"> 
          {% if message %}
            <h5 class="text-danger">{{message}}</h5>
          {% else %}  
          </br> 
          {% endif %} 
        </br>
        </br>
          <h1 class="text-center">Registration Form</h1>
        </br>
        </br>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-4 col-form-label">&nbspEmail</label>
            <div class="col-sm-8">
              <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Enter Email" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-4 col-form-label">Password</label>
            <div class="col-sm-8">
              <input type="password" class="form-control input_Password" id="input_Password"  name="inputPassword" placeholder="Enter password" required onkeyup="check();">
            </div>
          </div>
          <span class="badge confirm-pass-message"> ... </span>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-4 col-form-label">Confirm Password</label>
            <div class="col-sm-8">
              <input type="password" class="form-control input_ConfirmPassword" id="input_ConfirmPassword" name="inputConfirmPassword" placeholder="Confirm password" required onkeyup="check();">
            </div>
          </div>
          <div class="custom-control custom-checkbox text-center">
            <input type="checkbox" class="custom-control-input" id="customCheck1" required>
            <label class="custom-control-label" for="customCheck1">I Agree Terms & Conditions</label>
          </div>
        </br>
          <div class="form-group row text-center">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-secondary btn-lg" >Sign in</button>
            </div>
          </div>
        </form>
        </div>
      </div>    
    </div>
</div>
  

{% endblock %}